<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="private" />
    <meta http-equiv="Cache-Control" content="no-store" />
    <meta http-equiv="Pragma" content="no-cache" />
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-..." crossorigin="anonymous" />
    <!-- NAV MENU-->
    <link href="/css/navMenu.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/2.0.6/js/dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.6/css/dataTables.bootstrap5.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/es	.js"></script>
    <!--BOOTSTRAP 5-->
    <script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript" src="/js/bootstrap5.min.js"></script>
    <!-- WIDGET CALENDARIO -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!--ETC-->
    <meta name="timezone" content="America/Lima">
    <title>Grupo 9</title>
</head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">SISTEMA PRESTAMO - GRUPO 9</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div>

                    <span class="navbar-text me-3" id="userMenu"><i class="bi bi-person-raised-hand"></i>Opciones</span>
                    <div class="menu" id="submenu">
                        <div class="sub-menu">
                            Nombres : <span
                                th:text="${session.usuario.nombre + ' ' + session.usuario.apellidos }"></span>
                        </div>
                        <div class="sub-menu">
                            Rol: <span th:text="${session.usuario.rol.nombre}"></span>
                        </div>
                        <div class="sub-menu">
                            Zona: <span th:text="${session.usuario.zona.nombre}"></span>
                        </div>
                        <div class="sub-menu logout">
                            <a th:href="@{/logout}" class="btn btn-danger">
                                <i class="fas fa-sign-out-alt"></i> Cerrar Sesion
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </header>

    <div class="container" style="margin-top: 4% ;margin-bottom: 15%">
        <a href="vistaPrestatario">
            Volver

        </a>
        <h3>Solicitar Prestamos - Zona <span th:text="${session.usuario.zona.nombre}"></span></h3>

        <div class="row" style="padding-top: 3rem">
            <div class="col-md-12">
                <div class="content table-responsive-md">
                    <table id="id_table" class="table table-sm table-hover">
                        <thead class="table">
                            <tr>
                                <th style="width: 5%">DIAS</th>
                                <th style="width: 5%">MONTOS</th>
                                <th style="width: 10%">VER</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL -->
    <div class="modal fade modal-lg" id="idBuscaCliente" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered" style="width: 80%">

            <div class="modal-content" style="align-content: center; text-align: center;">
                <div class="modal-header" style="padding: 30px 30px;">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">&times;</button>

                    <label class="col-lg-5 control-label"
                        style="display: flex; justify-content: center; margin-left: auto; margin-right: 10px;">
                        Datos Solicitud Prestamo
                    </label>

                </div>
                <div class="modal-body" style="padding: 20px 10px;">
                    <form id="id_form_enviar_solicitud_prestamo" accept-charset="UTF-8" method="post">
                        <div class="panel-group" id="steps">
                            <div class="panel panel-default">
                                <!--MONTO-->

                                <div class="row">
                                    <div class="col-lg-12">
                                        <!--FECHA INICIO-->
                                        <div class="form-group" style="display: flex; width: 80%;margin-top: 20px;">
                                            <label class="col lg-1">
                                                Fecha Inicio
                                            </label>
                                            <div class="col lg-4">
                                                <input id="id_fecha_inicio" class="form-control" name="fecha_inicio"
                                                    type="date" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <!--FECHA FIN-->
                                        <div class="form-group" style="display: flex; width: 80%;margin-top: 20px;">
                                            <label class="col lg-1">
                                                Fecha Fin
                                            </label>
                                            <div class="col lg-4">
                                                <input id="id_fec_final" class="form-control" name="fecha_fin"
                                                    type="text" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group" style="display: flex; width: 80%;margin-top: 20px;">

                                            <div class="col-lg-4">
                                                <label>
                                                    Monto S/
                                                </label>
                                            </div>
                                            <div class="col lg-4" style="text-align: left; width: 80%;">

                                                <input id="id_monto_pres" class="form-control" type="text" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group" style="display: flex; width: 80%;margin-top: 20px;">
                                            <div class="col-lg-5">
                                                <label for="id_monto_diferencia">
                                                    Diferencia S/
                                                </label>
                                            </div>
                                            <div class="col-lg-8">
                                                <input id="id_monto_diferencia" class="form-control" type="text"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group" style="	display: flex; margin-top: 20px;">

                                            <div class="col-lg-4" <label>
                                                Total a Pagar S/
                                                </label>
                                            </div>
                                            <div class="col-lg-4">

                                                <input id="id_monto" class="form-control" name="monto" type="text"
                                                    readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>




                                <div class="row">
                                    <!--DIAS-->
                                    <div class="form-group" style="display: flex; width: 80%;margin-top: 20px;">
                                        <label class="col lg-1">
                                            Dias
                                        </label>
                                        <div class="col lg-4">
                                            <input id="id_dias" class="form-control" name="nroCuotas" type="text"
                                                readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!--DIAS-->
                                    <div class="form-group" style="display: flex; width: 80%;margin-top: 20px;">
                                        <label class="col lg-1">
                                            Dias L-V
                                        </label>
                                        <div class="col lg-4">
                                            <input id="id_dias_lv" class="form-control" type="text" readonly />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <!--PAGO DIARIO-->
                                    <div class="form-group" style="display: flex; width: 80%;margin-top: 20px;">
                                        <label class="col lg-1">
                                            PAGO DIARIO:
                                        </label>
                                        <div class="col lg-4">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"> S/</span>
                                                </div>
                                                <input id="id_pago_por_dia" class="form-control" name="montoDiario"
                                                    type="text" readonly />

                                            </div>
                                            <p>
                                                <span class="texto-gris">calculo de pago diario sin contar sabado y
                                                    domingos</span>
                                                <br>
                                                <span class="texto-gris">(Total a Pagar / Días L-V) = Pago Diario
                                                </span>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <br>
                            <button class="btn btn-primary" id="id_btn_solicitar_prestamo" type="button">Enviar
                                Solicitud</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <script type="text/javascript">
        cargarTabla()
        function abrirModal(dias, montoPrestado) {
            function obtenerFechaFormateada(fecha) {
                console.log(fecha)
                var dia = fecha.getDate();
                var mes = fecha.getMonth() + 1;
                var year = fecha.getFullYear();
                return year + '-' + (mes < 10 ? '0' : '') + mes + '-' + (dia < 10 ? '0' : '') + dia;
            }

            function calcularDiasHabiles(fechaInicio, fechaFin) {
                var diasHabiles = 0;
                var fechaActual = new Date(fechaInicio);
                while (fechaActual <= fechaFin) {
                    var diaSemana = fechaActual.getDay();
                    if (diaSemana !== 0 && diaSemana !== 6) { // No es sábado ni domingo
                        diasHabiles++;
                    }
                    fechaActual.setDate(fechaActual.getDate() + 1); // Avanzar al siguiente día
                }
                return diasHabiles;
            }

            var fechaActual = new Date();
            $("#id_fecha_inicio").val(obtenerFechaFormateada(fechaActual)); // Establecer la fecha actual en el input #id_fecha_inicio

            $("#id_fecha_inicio").on('change', function () {
                var fechaSeleccionada = new Date($(this).val());
                console.log(fechaSeleccionada)
                if (fechaSeleccionada < fechaActual) {
                    $(this).val(obtenerFechaFormateada(fechaActual)); // Establecer la fecha actual si se selecciona una fecha anterior
                    fechaSeleccionada = new Date($(this).val());
                }
                var fechaFin = new Date(fechaSeleccionada);
                console.log(dias)
                fechaFin.setDate(fechaFin.getDate() + dias);
                console.log(fechaFin)
                $("#id_fec_final").val(obtenerFechaFormateada(fechaFin)); // Establecer la fecha de finalización

                var diasHabiles = calcularDiasHabiles(fechaSeleccionada, fechaFin);
                console.log("aas" + diasHabiles)
                $("#id_pago_por_dia").val((montoPrestado / diasHabiles).toFixed(2));
                $("#id_dias_lv").val(diasHabiles + '');
            });

            var fechaFin = new Date(fechaActual);
            console.log(fechaFin)
            console.log(dias)
            fechaFin.setDate(fechaFin.getDate() + dias);
            console.log(fechaFin)
            $("#idBuscaCliente").modal("show");
            // Redondear montoPrestado al múltiplo más cercano de 500
            var diferencia = 0
            var montoPrestadoRedondeado = 0
            if (montoPrestado > 500) {
                montoPrestadoRedondeado = 500
                diferencia = diferencia = montoPrestado - montoPrestadoRedondeado;
            } else if (montoPrestado > 400) {
                montoPrestadoRedondeado = 400
                diferencia = diferencia = montoPrestado - montoPrestadoRedondeado;
            } else if (montoPrestado > 300) {
                montoPrestadoRedondeado = 300
                diferencia = diferencia = montoPrestado - montoPrestadoRedondeado;
            } else if (montoPrestado > 200) {
                montoPrestadoRedondeado = 200
                diferencia = diferencia = montoPrestado - montoPrestadoRedondeado;
            } else if (montoPrestado > 100) {
                montoPrestadoRedondeado = 100
                diferencia = diferencia = montoPrestado - montoPrestadoRedondeado;
            }
            $("#id_monto_pres").val(montoPrestadoRedondeado);
            $("#id_monto_diferencia").val(diferencia);
            $("#id_monto").val(montoPrestado);
            $("#id_dias").val(dias);
            $("#id_fec_final").val(obtenerFechaFormateada(fechaFin)); // Establecer la fecha de finalización

            var diasHabiles = calcularDiasHabiles(fechaActual, fechaFin);
            $("#id_dias_lv").val(diasHabiles);
            $("#id_pago_por_dia").val((montoPrestado / diasHabiles).toFixed(2));
        }

        function cargarTabla() {
            $.getJSON("prestamos/buscarMontosPrestamos", {

            }, function (data) {
                if (data.lista == null) {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 1000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
                    Toast.fire({
                        icon: "info",
                        title: data.msg_error
                    });
                } else {

                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 900,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
                    Toast.fire({
                        icon: "info",
                        title: "Resultados"
                    });
                    agregarGrilla(data.lista);
                }
            });
        }
        function agregarGrilla(lista) {
            var dias = 5
            $('#id_table').DataTable().clear();
            $('#id_table').DataTable().destroy();
            $('#id_table')
                .DataTable(
                    {
                        data: lista,
                        searching: false,
                        ordering: true,
                        processing: true,
                        pageLength: 10,
                        lengthChange: false,
                        columns: [


                            {
                                data: "dias"
                            },
                            {
                                data: "monto"
                            },
                            {
                                data: function (row, type, val, meta) {

                                    return '<button type="button"   '
                                        + 'class="btn btn-warning " onclick="abrirModal('
                                        + row.dias
                                        + ','
                                        + row.monto
                                        + ')">Ver</button>';
                                },
                                className: 'text-center'
                            }
                        ],
                        createdRow: function (row) {
                            var numeroCell = $('td:eq(0)', row);
                            numeroCell.text(numeroCell.text()
                                .toUpperCase());
                        }
                    });
        }

        $("#id_btn_solicitar_prestamo").click(function () {
            $.ajax({
                type: "POST",
                url: "prestamos/solicitaPrestamo",
                data: $('#id_form_enviar_solicitud_prestamo').serialize(),
                success: function (data) {
                    if (data.msg_error) {
                        mostrarMensajeSweetAlert("error", data.msg_error);
                    } else {
                        showAlertMini("success", data.msg_ok);
                        showAlertGrande("success", "!BIEN!", data.msg_ok, "vistaPrestatario")
                    }
                },
                error: function () {
                    Swal.fire({
                        title: "Oops...?",
                        text: "Ha ocurrido un error al procesar la solicitud.",
                        icon: "error"
                    });
                }
            });
        });
    </script>

    <script type="text/javascript" src="/js/alertassweet.js"></script>
    <script type="text/javascript" src="/js/navMenu.js"></script>
</body>

</html>